.ribbonWrapper {
  width: 100%;
  overflow: hidden;
  background-color: transparent;
  /* padding: 50px 0; */
  position: relative;
}

.ribbonPath {
  width: 100%;
  height: auto;
}

.ribbonText {
  fill: white;
  font-size: 18px;
  font-weight: 500;
}
