.container {

    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 50px;
    box-sizing: border-box;
}

/* .gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 395/160;
    height: 80px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    pointer-events: none;
    z-index: 2;
} */

.tile {
    width: 33%;
    aspect-ratio: 395/304;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    cursor: pointer;

}

.headWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.upper {
    width: 100%;
    aspect-ratio: 395/160;
    position: relative;
    flex-shrink: 0;
    border: 0.2px solid #000;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}
.tile:hover .upper {
  border: none;
}

.bottom {
    padding: 0px 22px;
    box-sizing: border-box;
    /* flex-grow: 1; */
    /* Take up the remaining space */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    /* add */
    bottom: 0;
    /* add */
    left: 0;
    /* add */
    width: 100%;
    /* add */
    height: 50%;
    /* add */
    transition: height 0.4s ease;
}

.tile:nth-child(1) .bottom {
    background-color: #FB7D7D;
}

.tile:nth-child(2) .bottom {
    background-color: #815FAA;
}

.tile:nth-child(3) .bottom {
    background-color: #27AAE7;
}

.tile:hover .bottom {
    height: 55%;
    /* add */
}
.downloadIcon {
  opacity: 0;                     /* hidden by default */
  transition: opacity 0.4s ease;  /* smooth fade both ways */
}

.tile:hover .downloadIcon {
  opacity: 1;                     /* fade in on hover */
}

.headttx {
    color: #FFF;
    font-family: Montserrat;
    font-size: 19.776px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 23.731px */
}

.subttx {
    color: #FFF;
    /* text-align: justify; */
    font-family: Montserrat;
    font-size: 13.184px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* 17.139px */
}

@media (max-width:450px) {
    .container {
        padding: 16px;
        flex-direction: column;
        align-items: center;
    }

    .tile {
        width: 80%;
    }

    .headttx {
        font-size: 13.843px;
    }

    .subttx {
        font-size: 9.229px;
    }
}