.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 63.54166666667vw;
  align-self: center;
  justify-self: center;
  position: relative;
}

.box {
  width: 24.86111111111vw;
  display: flex;
  flex-direction: column;
  gap: 126px;
  align-items: center;
}

.mainntxt {
  color: #1E1E1E;
  text-align: center;
  font-family: Montserrat;
  font-size: 1.49333333333vw;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.215px;
}

/* .doodleimg{
  width: ;
} */
.doodleimg {
  width: 15.625vw;
  /* height: 98.544px; */
  position: relative;
  aspect-ratio: 1/1;
}

.verticalLineWrapper {
  position: relative;
  width: 6px;
  height: 100%;
  /* adjust as needed */
}

.verticalTrack {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 100%;
  background-color: #303437;
  z-index: 0;
}

.verticalFill {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 0;
  background: linear-gradient(to bottom,
      rgba(39, 170, 231, 1),
      rgba(129, 95, 170, 1),
      rgba(251, 125, 125, 1));
  z-index: 1;
  transition: height 0.3s ease-out;
}

.circle {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  background-color: #f4b400;
  border-radius: 50%;
  z-index: 2;
}

.bkuebox,
.redbox {
  position: absolute;
  aspect-ratio: 1/1;
  border-radius: 59.883px !important;
  overflow: hidden;
  animation: dvdSmooth 19s ease-in-out infinite;
  z-index: 0;
}

.bkuebox {
  width: 37.16666666667vw;
  top: -20vw;
  left: -35vw;


}


.purplebox {
  position: absolute;
  aspect-ratio: 1/1;
  /* border-radius: 59.883px !important; */
  overflow: hidden;
  animation: dvdSmooth 19s ease-in-out infinite;
  width: 21.66666666667vw;
  top: 34vw;
  left: -33vw;
  border-radius: 34.909px !important;


}

.redbox {

  width: 33.22222222222vw;
  top: 0vw;
  right: -35vw;
}

.line {
  width: 13.75vw;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0px 0px;
  align-items: center;
  justify-content: center;
}

.underline {
  width: 30.81944444444vw;
  aspect-ratio: 199/2;
  position: relative;
}

.leftdoodleimg {
  width: 13.54166666667vw;
  aspect-ratio: 199/95;
  position: relative;
}

@keyframes dvdSmooth {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(30px, 20px);
  }

  50% {
    transform: translate(0, 40px);
  }

  75% {
    transform: translate(-30px, 20px);
  }

  100% {
    transform: translate(0, 0);
  }
}


@media (max-width:450px) {
  .container {
    display: none;
  }
}

@media (min-width:451px) {
  .margin{
    margin-top: 61px;
  }
}