.marquee {

  /* padding: 0px 7px; */
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 1;
}

.marqueeparent {
  display: flex;
}

.marqueeWrapper {
  transform: rotate(-6deg);
  overflow: hidden;
  width: 100%;
  padding: 32px 0px 64px 0px;
  /* margin-bottom: 109px; */
}

.card {
  width: 35.83333333333vw;
  margin: 0px 13px;
  aspect-ratio: 489/222;
  padding: 25px 0px 34px 20px;
  /* background-color: white; */
  border-radius: 24.658px;
  border: 0.503px solid rgba(8, 81, 114, 0.18);
  background: var(--Whites-Base, #FFF);
  box-shadow: 17.085px 11.959px 20.502px 7px rgba(0, 0, 0, 0.05);
  align-self: stretch;
}

.highlightcard {
  width: 35.83333333333vw;
  margin: 0px 13px;
  aspect-ratio: 516/222;
  padding: 45px 35px;
  /* background-color: white; */
  border-radius: 26.025px;
  border: 0.531px solid rgba(8, 81, 114, 0.18);

  background: var(--Whites-Base, #FFF);
  box-shadow: 18.032px 12.623px 21.639px 0 rgba(0, 0, 0, 0.05);
  align-self: stretch;
}


.cardHeader {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  /* margin-bottom: 0.5rem; */
}

.cardImage {
  width: 4.44444444444vw;
  aspect-ratio: 1/1;
  /* border-radius: 50%; */
  /* border: 1px solid #D1D5DB; */
  border-radius: 64.126px;
  border: 0.854px solid rgba(8, 81, 114, 0.18);
  overflow: hidden;
}

.cardTitle {
  color: #18181B;
  font-family: Montserrat;
  font-size: 1.94444444444vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.highlightcardTitle {
  color: var(--Primary-Coral-Base, #FB7D7D);
  font-family: Montserrat;
  font-size: 2.01388888889vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.highlightcardText {
  color: var(--Blacks-Base, #0C0C0C);
  font-family: Montserrat;
  font-size: 1.38888888889vw;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  margin-top: 12px;
}

.cardSubtitle {
  color: #18181B;
  font-family: Montserrat;
  font-size: 1.31944444444vw;
  font-style: italic;
  font-weight: 500;
  line-height: normal;

}

.src {
  color: var(--primary-coral-80, #FFC5C5);
  font-family: Montserrat;
  font-size: 1.38888888889vw;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  margin-top: 16px;
}

.cardHeading {
  color: #18181B;
  font-family: Montserrat;
  font-size: 1.42375vw;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: capitalize;
}

.txtdiv {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-top: 24px;
  width: 100%;
}

.cardText {
  color: #18181B;
  font-family: Montserrat;
  font-size: 1.31944444444vw;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.highlightSection {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  position: relative;
}

.bgPrimaryBlob {
  position: absolute;
  right: 0;
  width: 7.5rem;
  height: 7.5rem;
  background-color: rgba(39, 170, 231, 0.3);
  border-radius: 1.5rem;
  z-index: 0;
}

.bgSecondaryBlob {
  position: absolute;
  right: 15rem;
  width: 7.5rem;
  height: 7.5rem;
  background-color: rgba(129, 95, 170, 0.3);
  border-radius: 1.5rem;
  z-index: 0;
}

.headingGroup {
  z-index: 1;
}

.headline {
  font-size: 3rem;
  font-weight: 700;
  color: var(--brand-gray);
  line-height: 1.1;
}

.headlineLarge {
  font-size: 6rem;
}

.italicHighlight {
  color: var(--brand-tertiary);
  font-style: italic;
}

.ctaBox {
  background-color: var(--brand-tertiary);
  border-radius: 1.5rem;
  padding: 1rem;
  color: white;
  min-width: 7rem;
  width: 7.5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.ctaIcon {
  align-self: end;
}

.ctaText {
  font-weight: 700;
  text-transform: capitalize;
  margin-right: 2rem;
}

.lostSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  padding: 109px 75px 106px 75px;
  /* box-sizing: content-box; */


}

.lostContainer {
  width: 69.375vw;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}


.lostxttxdiv {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.subttx {
  color: #1E1E1E;
  font-family: Montserrat;
  font-size: 2.08333333333vw;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.3px;
}

.headtxt {
  color: var(--blacks-80, #303437);
  font-family: Montserrat;
  font-size: 6.52777777778vw;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  /* 94px */
  letter-spacing: 0.94px;
}

.span {
  color: var(--Accent-Purple-Base, #815FAA);
  font-family: Montserrat;
  font-size: 6.52777777778vw;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  /* 94px */
  letter-spacing: 0.94px;

}

.pinkbox,
.blueBox {
  border-radius: 16.47px;
  overflow: hidden;
  width: 10.22222222222vw;
  position: absolute;
  aspect-ratio: 1/1;

}

.pinkbox {

  top: 18vw;
  right: 30vw;
  animation: dvdSmooth 19s ease-in-out infinite;

}

.blueBox {
  top: 10vw;
  right: 37vw;
  animation: dvdSmooth 14s ease-in-out infinite;

}

@keyframes dvdSmooth {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(30px, 20px);
  }

  50% {
    transform: translate(0, 40px);
  }

  75% {
    transform: translate(-30px, 20px);
  }

  100% {
    transform: translate(0, 0);
  }
}


.bigcircle {
  position: absolute;
  right: -2vw;
  top: -7vw;
}

.bigcirclframe {
  width: 39.33104166667vw;
  aspect-ratio: 1/1
}

@media (max-width:450px) {


  .card {
    width: 304.158px;
    height: 138.084px;
    flex-shrink: 0;
    aspect-ratio: 304.158/138.084;
    /* justify-content: space-between; */
    box-shadow: 10.627px 7.439px 12.752px 0 rgba(0, 0, 0, 0.05);
     padding: 15px 25px 14px 13px;
  }

  .highlightcard {
    width: 320.952px;
    height: 138.084px;
    flex-shrink: 0;
    box-shadow: 11.216px 7.851px 13.459px 0 rgba(0, 0, 0, 0.05);
    aspect-ratio: unset;
   padding: 30px;
  }

  .txtdiv {
    margin-top: 12px;
    gap: 3px;
  }

  .highlightcardTitle {
    font-size: 17.84px;
  }

  .marqueeWrapper {
    padding: 0px 0px 0px 0px;
  }

  .highlightcardText {
    font-size: 11.893px;
  }


  .cardImage {
    width: 39.876px;
    height: 39.886px;
    border-radius: 39.886px;
    border: 0.531px solid rgba(8, 81, 114, 0.18);
    overflow: hidden;
  }

  .cardTitle {
    font-size: 16.902px;
  }

  .cardSubtitle {
    font-size: 11.268px;
  }

  .cardHeading {
    font-size: 12.752px;
  }

  .cardText {
    font-size: 11.268px;
    font-style: italic;
  }

  .src {
    font-size: 11.893px;
  }

  .marquee {
    padding: 10px 0px;
  }
}