.headtxt {
    /* padding-top: 115px; */
    padding: 166px 7.05555555556vw 0px 7.05555555556vw;
}

.container {
    display: flex;
    align-items:
        flex-start;
    justify-content: flex-start;
    width: 100%;
    flex-direction: column;
}

.headtxt {
    color: #000;
    font-family: "Simple Cakes";
    font-size: 3.54166666667vw;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 60.052px */
    letter-spacing: 0.5px;
    text-align: left;
    align-self: flex-start;
    justify-self: flex-start;
}

.blogs {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 35px;
    margin-top: 17px;
}

.blog {
    border-radius: 55px;
    background: linear-gradient(181deg, rgba(255, 255, 255, 0.00) 20.51%, #FFF 139.37%);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.13);
    width: 25.34722222222vw;
    aspect-ratio: 365/488;
    padding: 19px 16px 32px 17px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.thumbnail {
    width: 100%;
    aspect-ratio: 332/242;
    position: relative;
}

.txtdiv {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.date {
    color: var(--Blacks-Base, #0C0C0C);
    text-align: justify;
    font-family: Montserrat;
    font-size: 0.76388888889vw;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 15.713px */
    letter-spacing: 0.105px;
}

.title {
    color: var(--Blacks-Base, #0C0C0C);
    font-family: Montserrat;
    font-size: 1.31944444444vw;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 22.8px */
    letter-spacing: 0.19px;
    text-transform: lowercase;
    margin-top: 7px;
}

.subtite {
    color: var(--Blacks-Base, #0C0C0C);
    font-family: Montserrat;
    font-size: 0.90277777778vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 8px;
}

.tags {
    display: flex;
    align-items: center;
    gap: 6px;
}

.tag {
    border-radius: 14.938px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 19.5px */
    letter-spacing: 0.13px;
    padding: 4px;
}

.tag:nth-child(1) {
   border: 1.202px solid var(--Accent-Purple-Base, #815FAA);
    color: var(--accent-purple-110, #684C8A);
}

.tag:nth-child(2) {
    border: 1.202px solid var(--Primary-Blue-Base, #27AAE7);
    color: var(--primary-blue-110, #0091D5);
}

.tag:nth-child(3) {
border: 1.202px solid var(--Primary-Coral-Base, #FB7D7D);
    color: var(--primary-coral-110, #FF5656)
}

.customPagination .MuiPaginationItem-root {
  font-weight: 600;
  font-size: 1rem;
  color: #7b5ca7; /* purple text for inactive */
}

.customPagination .MuiPaginationItem-root.Mui-selected {
  background-color: #7b5ca7; /* purple background for active */
  color: white;
  border-radius: 50%;
}

.customPagination .MuiPaginationItem-root.Mui-selected:hover {
  background-color: #6a4b94; /* slightly darker on hover */
}

.customPagination .MuiPaginationItem-root:hover {
  background-color: transparent;
}

.customPagination .MuiPaginationItem-previousNext {
  color: #7b5ca7; /* arrow color */
}
