.container {
    width: 100%;
    /* set width */

    background-image: url('/assets/icons/crispbg.svg');
    background-size: cover;
    /* or `contain` */
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 1.29/1;
    padding: 132px 75px 81px 75px;
}

.maintxt,
.spantxt {
    color: var(--blacks-80, #303437);
    font-family: Montserrat;
    font-size: 6.52777777778vw;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 94px */
    letter-spacing: 0.94px;
}

.spantxt {
    color: var(--Accent-Purple-Base, #815FAA);
}
.txtdiv{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.subtxt{
    color: var(--blacks-80, #303437);
font-family: "Simple Cakes";
font-size: 6.94444444444vw;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 100px */
letter-spacing: 1px;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 43px;
}