.container {
    width: 100%;
    display: flex;
    padding: 16px 6.59722222222vw 77px 6.59722222222vw;
    align-items: center;
    justify-content: center;
    gap: 71px;
    flex-direction: column;
    overflow: hidden;
    position: relative;

}

.txtdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headtxt {
    color: var(--Primary-Blue-Base, #27AAE7);
    text-align: center;
    font-family: "Simple Cakes";
    font-size: 4.58333333333vw;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 65.385px */
    letter-spacing: 0.654px;
}

.subheading {
    color: var(--Primary-Coral-Base, #FB7D7D);
    font-family: Montserrat;
    font-size: 2.77777777778vw;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.maintxt {
    color: var(--blacks-80, #303437);
    font-family: Montserrat;
    font-size: 3.95833333333vw;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 57px */
    letter-spacing: 0.57px;
}

.span {
    color: var(--blacks-80, #303437);
    font-family: "Simple Cakes";
    font-size: 6.25vw;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 90px */
    letter-spacing: 0.9px;
}

.ext {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
}

.central {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.marqueesection {
    margin: 10px;
    display: flex;
    align-items: flex-start;
    /* overflow: hidden; */
    border-radius: 30px;
    border: 1.525px solid var(--Accent-Purple-Base, #815FAA);
    background: #FFF;
    aspect-ratio: 1085/182;
    overflow: hidden;
    z-index: 1;
}

.memberImage {
    width: 10.55555555556vw;
    aspect-ratio: 1/1;
    position: relative;
    margin: 10px 10px !important;
    overflow: hidden;
    flex-shrink: 0;
}

.marqueeline {
    width: auto !important;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    height: 100% !important;
}


.titles {
    width: 100%;
    align-items: center;
    gap: 31px;
    display: flex;
    margin-top: 30px;
}

.title {
    color: #1E1E1E;
    font-family: Montserrat;
    font-size: 1.38888888889vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.4px;
}

.border {
    border-right: 1px solid #B5B5B5;
}

.brands {
    /* margin-top: 6px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 52px 10px 10px 10px;
    position: relative;
}

.brand {
    aspect-ratio: 134/74;
    width: 9.30555555556vw;
    position: relative;
}

.filterBlack {
    filter: brightness(0) saturate(100%);
}

.from {
    position: absolute;
    display: flex;
    transform: rotate(-19.479deg);
    padding: 10px 20px;
    align-items: center;
    gap: 10px;
    border-radius: 5.493px;
    background: var(--Accent-Purple-Base, #815FAA);
    color: var(--Whites-Base, #FFF);
    font-family: Montserrat;
    font-size: 1.11111111111vw;
    font-style: normal;
    font-weight: 500;
    line-height: 91%;
    /* 13.997px */
    letter-spacing: 0.769px;
    top: -2vw;
    left: -1vw;
}

.bluebox,
.pinkbox,
.purplebox {
    position: absolute;
    aspect-ratio: 1/1;
    overflow: hidden;
}

.bluebox {
    width: 37.22222222222vw;
    top: 0vw;
    left: -15vw;
    border-radius: 59.883px;
    z-index: 0;
    animation: floatRandom 19s ease-in-out infinite;
}

.pinkbox {
    width: 33.26388888889vw;
    top: 20;
    right: -15vw;
    border-radius: 53.527px;
    animation: floatRandom 19s ease-in-out infinite;
}

.purplebox {
    width: 15.20833333333vw;
    border-radius: 24.436px;
    top: 43vw;
    left: -12vw;
    animation: floatRandom 19s ease-in-out infinite;
}

@keyframes floatRandom {
    0% {
        transform: translate(0px, 0px);
    }

    25% {
        transform: translate(40px, -30px);
    }

    50% {
        transform: translate(-30px, 10px);
    }

    75% {
        transform: translate(20px, -40px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}