.container {
    padding: 150px 0px 0px 5.20833333333vw;
    width: 61.875vw;
    position: relative;
    box-sizing: border-box;

}

.headttx {
    color: var(--blacks-80, #303437);
    font-family: Montserrat;
    font-size: 6.59722222222vw;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 114.667px */
}

.subtxt {
    color: #02010E;
    font-family: Montserrat;
    font-size: 1.73611111111vw;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    width: 30.41666666667vw;
    /* 35px */
}

.rocket {
    width: 10vw;
    /* height: 122.457px; */
    flex-shrink: 0;
    position: relative;
    aspect-ratio: 144/122;
}


.begantxt {
    color: var(--Accent-Purple-Base, #815FAA);
    font-family: "Simple Cakes";
    font-size: 11.66666666667vw;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 168.371px */
}

.rocketframe,
.began {
    position: absolute;
}

.rocketframe {
    top: 12vw;
    right: 2vw;
}

.began {
      top: 16.5vw;
    right: 3vw;

    transform: rotate(-9.204deg);
}

@media (max-width:450px) {
    .container {
        padding: 0px 0px 0px 27px;
        /* width: 100%; */
        gap: 44px;
        display: flex;
        flex-direction: column;
        margin-top: 134px;
        width: 290.576px;
    }

    .headttx {
        font-size: 31.533px;
    }

    .subtxt {
        width: 100%;
        font-size: 14px;
    }

    .rocketframe {
               top: -11px;
        right: -4px;
    }

    .began {
       top: 14px;
        right: 2px;
    }

    .rocket {
        width: 47.526px;
        height: 40.411px;
    }

    .begantxt {
        font-size: 55.562px;
    }
}