.container {
    width: 100%;
    position: relative;
}

.backtotop {
    position: sticky;
    /* Make it sticky relative to the parent */
    top: 100px;
    /* Distance from the top when scrolling */
    display: flex;
    justify-content: flex-end;
    /* Align to the right */
    z-index: 10;
    /* Ensure it stays on top */
    margin: 49px;
    width: auto;
    right: 200px;
    /* Optional: some spacing below */
}

@media (max-width:450px) {
    .backtotop {
        display: none;
    }
}