.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 37px;
    align-self: center;
    justify-self: center;
    padding: 69px 0;
    align-items: center;
    justify-content: center;
}

.op {
    display: flex;
    flex-direction: column;
    gap: 49px;
    width: 75.97222222222vw;
}

.boxtop {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    gap: 36px;

}

.toplhs {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.headtxt {
    color: #494949;
    font-family: Montserrat;
    font-size: 10.20833333333vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.st {
    color: #404446;
    font-feature-settings: 'sups' on;
    font-family: Montserrat;
    font-size: 2.29166666667vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.328px;
    text-transform: uppercase;
    vertical-align: super;
    margin-top: 1.875vw;
}

.lhstop {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.lhsbottom {}

.century {
    color: #000;
    /* text-align: center; */
    font-family: Montserrat;
    font-size: 4.02777777778vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 2.63888888889vw;
    text-transform: uppercase;
}

.bootcamp {
    background: linear-gradient(90deg, #27AAE7 0%, #815FAA 50%, #FB7D7D 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Montserrat;
    font-size: 5.69444444444vw;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.upperaction {
    display: flex;
    align-items: center;
    gap: 7px;
}

.bluebox {
    border-radius: 23px;
    background: var(--Primary-Blue-Base, #27AAE7);
    width: 8.61111111111vw;
    aspect-ratio: 1/1;
}

.redbox {
    border-radius: 23px;
    background: var(--Primary-Coral-Base, #FB7D7D);
    width: 10.34722222222vw;
    aspect-ratio: 1.2/1;
    transform-origin: left bottom;
}

.bluebox,
.redbox {
    display: flex;
    flex-direction: column;

    padding: 20px 15px;
    justify-content: space-between;
    transition: all 0.3s ease;
    /* Smooth animation */
    cursor: pointer;
}

.bluebox:hover {
    background: var(--primary-blue-110, #0091D5);
}

.redbox:hover {
    background: var(--primary-coral-110, #D95555);
}

.purplebox:hover {
    /* border-radius: 24.631px; */
    background: var(--accent-purple-110, #684C8A);
    cursor: pointer;
}

.redbox:hover,
.purplebox:hover {
    animation: springRightUpInnew 0.5s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}


.redbox:not(:hover),
.purplebox:not(:hover) {
    animation: springRightUpOutnew 0.5s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}

.bluebox:hover {
    animation: springRightUpInnew 0.5s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}

.bluebox:not(:hover) {
    animation: springRightUpOutnew 0.5s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}

.boxttx {
    color: var(--Whites-Base, #FFF);
    font-family: Montserrat;
    font-size: 1.11111111111vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.16px;
    text-align: left;
}

.top {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.toprhs {
    display: flex;
    width: 37.36111111111vw;
    flex-direction: column;
    align-items: flex-end;
    gap: 33px;
}

.txt {
    color: var(--Blacks-Base, #0C0C0C);
    text-align: right;
    font-family: Montserrat;
    font-size: 1.31944444444vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.822px;
    text-transform: uppercase;
}

.bottom {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.tile {
    display: flex;
    width: 11.73611111111vw;
    /* height: 186px; */
    padding: 25px 23px;
    align-items: center;
    gap: 8px;
    aspect-ratio: 169/186;
    flex-direction: column;
    border-radius: 12px;

}

/* Different backgrounds for each tile */
.tile:nth-child(1) {
    background: linear-gradient(90deg, #AADFF7 0%, #AFCEEB 100%);
    /* light peach */
}

.tile:nth-child(2) {
    background: linear-gradient(270deg, #B4BBDC 0%, #AFCDEA 100%);
    /* light blue */
}

.tile:nth-child(3) {
    background: linear-gradient(90deg, #B4BADB 0%, #B9A8CE 100%);
    /* light purple */
}

.tile:nth-child(4) {
    background: linear-gradient(90deg, #BAA8CE 0%, #D1B2CB 100%);
    /* light green */
}

.tile:nth-child(5) {
    background: linear-gradient(90deg, #D3B3CB 0%, #EBBDC7 100%);
    /* light yellow */
}

.tile:nth-child(6) {
    background: linear-gradient(270deg, #FFC5C5 0%, #EABDC8 100%);
}

.imageframe {

    width: 4.86111111111vw;
    aspect-ratio: 1/1;
    position: relative;
}

.cardtxt {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.04166666667vw;
    font-style: normal;
    font-weight: 400;
    line-height: 121.54%;
    /* 18.231px */
    letter-spacing: 0.6px;
}

.containerbottom {
    background: var(--blacks-80, #303437);
    display: flex;
    /* height: 52px; */
    padding: 12px 7.15277777778vw;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;
    position: relative;
}

.titles {
    display: flex;
    padding: 0px 0.33333333333vw;
    justify-content: center;
    align-items: center;
    gap: 5.41666666667vw;
}

.badge {
    display: flex;
    align-items: center;
    gap: 12px;
}

.icoframe {
    width: 2.01388888889vw;
    aspect-ratio: 1/1;
    position: relative;
}

.jojo {
    color: var(--Whites-Base, #FFF);
    /* text-align: center; */
    font-family: Montserrat;
    font-size: 1.11111111111vw;
    font-style: normal;
    font-weight: 500;
    line-height: 121.54%;
    /* 19.446px */
    letter-spacing: 3.2px;
}

.batch {
    width: 10.13888888889vw;
    /* height: 27px; */
    aspect-ratio: 146/27;
    flex-shrink: 0;
    position: absolute;
    border-radius: 4.424px;
    background: var(--Accent-Purple-Base, #815FAA);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-5.354deg);
    color: var(--Whites-Base, #FFF);
    font-family: Montserrat;
    font-size: 0.90277777778vw;
    font-style: normal;
    font-weight: 500;
    line-height: 91%;
    /* 11.272px */
    letter-spacing: 0.619px;
    top: -1vw;
    left: 3vw
}

@keyframes springRightUpInnew {
    0% {
        transform: scale(1) translate(0, 0);
    }

    /* 60% {
        transform: scale(1.05) translate(4px, -3px);
    }

    80% {
        transform: scale(1.05) translate(3px, -2.5px);
    } */

    100% {
        transform: scale(1.03) translate(3px, -2.5px);
    }
}

@keyframes springRightUpOutnew {
    0% {
        transform: scale(1) translate(0, 0);
    }

    50% {
        transform: scale(0.99) translate(-1px, 1px);
        /* less left shift */
    }

    80% {
        transform: scale(0.995) translate(-1px, 1px);
        /* gentler offset */
    }

    100% {
        transform: scale(1) translate(0, 0);
    }
}

@media (max-width:450px) {
    .container {
        width: 100%;
        padding: 56px 0px 0px;
    }

    .boxtop {
        width: 100%;
        flex-direction: column;
        padding: 0px 27px;
    }

    .op {
        width: 100%;
    }

    .op {
        /* padding-right: 27px; */
        gap: 27px;

    }

    .headtxt {
        font-size: 88.11px;
        text-align: center;
    }

    .toplhs {
        justify-content: center;
        align-items: center;
        gap: 15.6px;
    }

    .lhsbottom {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .st {
        font-size: 19.659px;
        margin-top: 19px;
    }

    .century {
        font-size: 34.627px;
    }

    .bootcamp {
        font-size: 49.036px;
    }

    .toprhs {
        width: 100%;
        flex-direction: column-reverse;

    }

    .txt {
        text-align: center;
        font-size: 12px;
    }

    .actions {
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    .boxtop {
        gap: 16px;
    }

    .bluebox {
        width: 94.264px;
        height: 94.264px;
        flex-shrink: 0;
        aspect-ratio: unset;
        padding: 13px 11px;
        border-radius: 17.484px;
    }

    .redbox {

        width: 113.268px;
        height: 94.264px;
        aspect-ratio: unset;
        padding: 13px 11px;
        border-radius: 17.484px;
    }

    .purplebox {
        border-radius: 17.484px;
    }

    .boxttx {
        font-size: 12.163px;
    }

    .redbox:hover {
        transform: none;
        background: var(--Primary-Coral-Base, #FB7D7D);
    }

    .bluebox:hover {
        background: var(--Primary-Blue-Base, #27AAE7);
        transform: none;
    }

    .purplebox {
        background: var(--Primary-Blue-Base, #684C8A);
        transform: none;
    }

    .tile {
        display: flex;
        width: 106.47px;
        height: 117.18px;
        padding: 15.75px 14.49px;
        align-items: center;
        gap: 6.3px;
        border-radius: 7.56px;
    }
.imageframe{
    width: 44.1px;
height: 44.1px;
}
.cardtxt{
    font-size: 9.45px;
}
.bottom{
    max-width: 100%;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  overflow-x: auto;
  padding-left: 27px;
}

.bottom::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.containerbottom{
    padding: 13px 28px;
    align-items: center;
    justify-content: center;
   

}
.titles {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 items per row */
  row-gap: 5px;
  column-gap: 47px;
  padding: 0;
  align-items: center;
  justify-content: center;
}
.badge{
    gap: 10.3px;
}
.icoframe{
    width: 16.891px;
height: 16.891px;
}
.jojo{
    font-size: 10px;
}
.batch{
     height: 16px;
    /* transform: rotate(11.355deg); */
    align-self: stretch;
    border-radius: 4.424px;
    background: var(--Accent-Purple-Base, #815FAA);
    color: var(--Whites-Base, #FFF);
    font-family: Montserrat;
   font-size: 7.69px;
    font-style: normal;
    font-weight: 500;
    line-height: 91%;
    /* 11.272px */
    letter-spacing: 0.619px;
    position: absolute;
    top: -10px;
    right: -14px;
    display: flex;
    align-items: center;
    width: 90px;
    /* padding: 12px 18px; */
}
}