@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
  scrollbar-width: thin;
  scrollbar-color: #999 transparent;
}

@font-face {
  font-family: "Simple Cakes";
  src: url("/assets/fonts/simple-cakes/simple_cakes.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.link {
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: none;
}


.subheading {
  font-size: 6.52777777778vw;
  color: var(--blacks-80, #303437);
  font-family: Montserrat;
  /* font-size: 94px; */
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  /* 94px */
  letter-spacing: 0.94px;
}



@media (max-width:450px) {
  .subheading{
    font-size: 31px;
  }
}