.container {
    width: 75.83333333333vw;
    display: flex;
    flex-direction: column;
    gap: 19px;
    padding: 68px 0px;
    align-self: center;
    justify-self: center;
}

.headtxt {
    color: var(--Accent-Purple-Base, #815FAA);
    font-family: Montserrat;
    font-size: 4.375vw;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 63px */
    letter-spacing: 0.63px;
    /* text-transform: uppercase; */
}

.span {
    color: var(--blacks-80, #303437);
    font-family: Montserrat;
    font-size: 3.81944444444vw;
    font-style: normal;
    font-weight: 700;
    line-height: 114%;
    letter-spacing: 0.55px;
}

.subtxt {
    color: #000;
    font-family: Montserrat;
    font-size: 1.66666666667vw;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 36px */
    letter-spacing: 0.24px;
    width: 45.83333333333vw;
    margin-top: 21px;
}

.subtop {
    display: flex;
    align-items: center;
    gap: 191px;

}

.tiles {
    display: flex;
    align-items: center;
    gap: 14px;
}

.tile {
    border-radius: 18px;
    padding: 15px 13px;
    width: 14.375vw;
    aspect-ratio: 207/242;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-self: stretch;
}

.imageframe {
    width: 3.88888888889vw;
    aspect-ratio: 1/1;
    position: relative;
}

.tiletop {
    display: flex;
    width: 100%;

    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    aspect-ratio: 180/147;
    justify-content: center;
}

.eventop {
    border-radius: 14px;
    background: #FFF;
    padding: 19px 0;
}

.boxtxt {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.38888888889vw;
    font-style: normal;
    font-weight: 500;
    line-height: 121.54%;
    /* 24.308px */
    letter-spacing: 0.2px;
}

.text {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 0.83333333333vw;
    font-style: normal;
    font-weight: 400;
    line-height: 121.54%;
    /* 14.585px */
    letter-spacing: 0.48px;
}

.oddbottom {
    border-radius: 14px;
    background: #FFF;
    padding: 14px 8px;
}

.bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.subbottom {
    display: flex;
    gap: 14px;
}

.pillContainer {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 7px;
}

.marqueewrapper {
    width: 100%;
    border-radius: 18px;
    background: #F2F2F2;
    padding: 9px 0px;
}

.box {
    width: 50.27777777778vw;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.biglogos {
    width: 9.02777777778vw;
    aspect-ratio: 130/58;
    position: relative;
}

.purplebox {
    width: 24.58333333333vw;
    aspect-ratio: 354/289;
    display: flex;
    padding: 18px 15px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 18px;
    background: #B9A8CE;
}

.chip {
    display: flex;
    /* height: 54px; */
    width: 100%;
    aspect-ratio: 324/54;
    padding: 9px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    width: 100%;
    border-radius: 12.6px;
    background: #FFF;
    color: var(--blacks-80, #303437);
    text-align: right;
    font-family: Montserrat;
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 500;
    line-height: 185%;
    /* 33.3px */
    letter-spacing: 0.72px;
}

.carousel {
    width: 100%;
    gap: 14px;
    display: flex;
    align-items: center;
}

@media (max-width:450px) {
    .container {
        width: 100%;
        padding: 46px 0px 51px 27px;
    }
    .mobcarousel{
        width: 100%;
    }

    .headtxt {

        font-size: 36.392px;

    }

    .span {
        font-size: 31.771px;
        text-transform: none;
    }

    .subtop {
        gap: 4px;
    }

    .subtxt {
        font-size: 13.479px;
        margin-top: 0px;
    }

    .top {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 14px;
        padding-right: 27px;
    }

    .tiles {
        max-width: 100%;
        width: 100%;
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;
        overflow-x: auto;
        /* IE and Edge */
    }

    .tiles::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari, Opera */
    }

    .tile {
        display: flex;
        width: 149.04px;
        height: 174.24px;
        padding: 10.8px 9.36px;
        align-items: center;
        gap: 7.2px;
        flex-shrink: 0;
    }

    .imageframe {
        width: 40.32px;
        height: 40.32px;
        aspect-ratio: 40.32/40.32;
    }

    .eventop {
        padding: 13.68px 0;
        border-radius: 10.08px;
        gap: 5.76px;
    }

    .boxtxt {
        font-size: 14.4px;
    }

    .oddbottom {
        padding: 10.08px 5.76px;
    }

    .text {
        font-size: 8.64px;
    }

    .tiletop {
        aspect-ratio: unset;
    }

    .oddtop {
        padding-top: 11.52px;
    }

    .carousel {
        display: none;
    }

    .subbottom {
        width: 100%;
        flex-direction: column-reverse;
        padding-right: 27px;
    }

    .boxes {
        display: flex;
        align-items: center;
        gap: 14px;
    }

    .purplebox {
        width: 144px;
        height: 187px;
        padding: 13px;
        gap: 9.493px;
        border-radius: 17.088px;
        aspect-ratio: unset;
    }

    .chip {
        font-size: 9px;
        text-align: center;
        padding: 6px 0px;
    }

    .box {
        width: 100%;
    }

    .marqueewrapper {
        padding: 7px 0px;
    }

    .pillContainer {
        gap: 6px;
    }

    .biglogos {
        width: 100.772px;
        height: 44.96px;
        aspect-ratio: unset;
    }
    .purplebox{
        width: 76%;
    }
}

@media (min-width:451px) {
    .mobcarousel {
        display: none;
    }
}