.box {
    padding-top: 89px;
    overflow: hidden;
    position: relative;
}

.parent {
    position: relative;
    overflow: hidden;
}

.pinkbox,
.bluebox,
.newpinkbox,
.newbluebox {
    position: absolute;
    aspect-ratio: 1/1;
    overflow: hidden;
    animation: dvdSmooth 19s ease-in-out infinite;
    z-index: -1;
}

.pinkbox {
    width: 32.01388888889vw;
    border-radius: 51.57px;
    top: -2vw;
    right: -12vw;
}

.newpinkbox {
    width: 32.01388888889vw;
    border-radius: 51.57px;
    bottom: 22vw;
    left: -12vw;
}

.bluebox {
    width: 32.01388888889vw;
    border-radius: 51.57px;
    top: 32vw;
    left: -15vw;
    animation-delay: 0.5s;

}

.newbluebox {
    width: 32.01388888889vw;
    border-radius: 51.57px;
    top: 28vw;
    right: -15vw;
    animation-delay: 0.5s;
}

@keyframes dvdSmooth {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(30px, 20px);
    }

    50% {
        transform: translate(0, 40px);
    }

    75% {
        transform: translate(-30px, 20px);
    }

    100% {
        transform: translate(0, 0);
    }
}


.blogcards {
    padding: 0px 57px 72px 57px;
    position: relative;
    overflow: hidden;
}

.blogbg {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    aspect-ratio: 1440/300;
    z-index: -1;
}

.blogbgframe {
    width: 100%;
    height: 100%;
    position: relative;
}

@media (max-width:450px) {
    .box {
        padding-top: 101px;
    }

    .blogbg {
        display: none;
    }

    .blogcards {
        padding: 63px 27px 0px 27px;
    }

    .newbluebox,
    .bluebox,
    .pinkbox,
    .newpinkbox {
        width: 227px;
        border-radius: 25.4px;
    }
    .newpinkbox{
        bottom: 1038px;
        left: -30px;
    }
}