.container {
    padding-top: 120px;
    position: relative;
    overflow: hidden;
}

.box {
    padding: 35px 12.08333333333vw;
    display: flex;
    flex-direction: column;
    gap: 34px;
    overflow: hidden;
    position: relative;
}

.title {
    color: var(--Blacks-Base, #0C0C0C);
    font-family: Montserrat;
    font-size: 3.47222222222vw;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 50px */
    letter-spacing: 0.5px;
}

.thumbnail {
    width: 100%;
    aspect-ratio: 1092/365;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
}

.titlesection {
    display: flex;
    flex-direction: column;
    gap: 27px;
    width: 100%;
}

.subtop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.subttx {
    color: var(--Blacks-Base, #0C0C0C);
    font-family: Montserrat;
    font-size: 1.11111111111vw;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
    letter-spacing: 0.16px;
}

.back {
    display: flex;
    align-items: center;
    gap: 7px;
}

.backarrow {
    width: 0.625vw;
    aspect-ratio: 9/9;
    position: relative;
    min-width: 9px;
    flex-shrink: 0;
}

.backbt {
    color: #000;
    text-align: right;

    /* Navigation Bar Desk */
    font-family: Montserrat;
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.18px;
}

.otherarticles {
    /* padding: 0px 60px; */
    background: url('/assets/icons/relatedarticles.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow: hidden;
}

.carousel {
    width: 100%;
    padding: 0px 4.16666666667vw;
}

.featuretxt {
    font-size: 3.54166666667vw;
    color: #000;
    font-family: "Simple Cakes";
    /* font-size: 50.043px; */
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 60.052px */
    letter-spacing: 0.5px;
    padding: 170px 12.15277777778vw 0px 12.15277777778vw;

}

.footer {
    margin-top: 46px;
}

.pinkbox,
.bluebox,
.newpinkbox,
.newbluebox {
    position: absolute;
    aspect-ratio: 1/1;
    overflow: hidden;
    animation: dvdSmooth 19s ease-in-out infinite;
    z-index: -1;
}

.pinkbox {
    width: 32.01388888889vw;
    border-radius: 51.57px;
    top: -2vw;
    right: -12vw;
}

.newpinkbox {
    width: 32.01388888889vw;
    border-radius: 51.57px;
    bottom: 22vw;
    left: -12vw;
}

.bluebox {
    width: 32.01388888889vw;
    border-radius: 51.57px;
    top: 32vw;
    left: -15vw;
    animation-delay: 0.5s;

}

.newbluebox {
    width: 32.01388888889vw;
    border-radius: 51.57px;
    top: 28vw;
    right: -15vw;
    animation-delay: 0.5s;
}

@keyframes dvdSmooth {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(30px, 20px);
    }

    50% {
        transform: translate(0, 40px);
    }

    75% {
        transform: translate(-30px, 20px);
    }

    100% {
        transform: translate(0, 0);
    }
}


@media (max-width:450px) {
    .container {
        padding-top: 101px;
    }

    .box {
        padding: 0px 27px;
        gap: 14px;
    }

    .subttx {
        display: none;
    }

    .backarrow {
        width: 7.566px;
        /* height: 4.074px; */

    }

    .backbt {
        font-size: 15.132px;
    }

    .mobsubttx {
        color: var(--Blacks-Base, #0C0C0C);
        font-family: Montserrat;
        font-size: 10.124px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 15.186px */
        letter-spacing: 0.101px;
    }

    .title {
        font-size: 18.983px;
    }

    .titlesection {
        gap: 14px;
    }

    .thumbnail {
        width: 100%;
        aspect-ratio: 336/344;
        border-radius: 15px;
        overflow: hidden;
    }

    .otherarticles {
        background: none;
    }

    .featuretxt {
        padding: 56px 0px 0px 0px;
        font-size: 39.698px;
        text-align: center;
    }

    .stroke {
        width: 100%;
        height: 19.065px;
        position: relative;
        margin-top: 56px;
    }

    .carousel {
        padding: 0px 27px;
    }

    .newbluebox,
    .bluebox,
    .pinkbox,
    .newpinkbox {
        width: 227px;
        border-radius: 25.4px;
    }

    .newpinkbox {
        bottom: 1038px;
        left: -30px;
    }

    .bluebox {
        top: 340px;
        left: -104px;

    }
}

@media (min-width:451px) {
    .mobsubttx {
        display: none;
    }

    .stroke {
        display: none;
    }
}