.container {
    padding: 120px 12.08333333333vw;
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.separator {
    margin: 0 12px;
    /* adjust gap as needed */
}

.cont {
    display: flex;
    flex-direction: column;
    /* width: fit-content; */
    gap: 39px;
      width: 54.236vw;
}

.box {
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 34px;
    overflow: hidden;
    position: relative;
}

.parent {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 45px;
    padding: 24px 0px;
    position: relative;
}


.title {
    color: var(--Blacks-Base, #0C0C0C);
    font-family: Montserrat;
    font-size: 3.47222222222vw;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 50px */
    letter-spacing: 0.5px;
}

.thumbnail {
    width: 100%;
    aspect-ratio: 1092/365;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
}

.titlesection {
    display: flex;
    flex-direction: column;
    gap: 27px;
    width: 100%;
}

.subtop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.subttx {
    color: var(--Blacks-Base, #0C0C0C);
    font-family: Montserrat;
    font-size: 1.11111111111vw;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
    letter-spacing: 0.16px;
}

.back {
    display: flex;
    align-items: center;
    gap: 7px;
}

.backarrow {
    width: 0.625vw;
    aspect-ratio: 9/9;
    position: relative;
    min-width: 9px;
    flex-shrink: 0;
}

.backbt {
    color: #000;
    text-align: right;

    /* Navigation Bar Desk */
    font-family: Montserrat;
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.18px;
}

.otherarticles {
    /* padding: 0px 60px; */
    background: url('/assets/icons/relatedarticles.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow: hidden;
}

.otherarticles {
    overflow-x: hidden;
    /* ✅ kills horizontal scrollbars */
}

.carousel {
    width: 100%;
    padding: 0px 4.16666666667vw;
    width: 100%;
    overflow: hidden;
    /* Prevent horizontal scroll */
    position: relative;
    /* Required if children use absolute positioning */
    display: block;
}

.featuretxt {
    font-size: 3.54166666667vw;
    color: #000;
    font-family: "Simple Cakes";
    /* font-size: 50.043px; */
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 60.052px */
    letter-spacing: 0.5px;
    padding: 170px 12.15277777778vw 0px 12.15277777778vw;

}

.footer {
    margin-top: 46px;
    z-index: 1;
}

.pinkbox,
.bluebox,
.newpinkbox,
.newbluebox {
    position: absolute;
    aspect-ratio: 1/1;
    overflow: hidden;
    animation: dvdSmooth 19s ease-in-out infinite;
    z-index: -1;
}

.pinkbox {
    width: 32.01388888889vw;
    border-radius: 51.57px;
    top: -2vw;
    right: -12vw;
}

.newpinkbox {
    width: 32.01388888889vw;
    border-radius: 51.57px;
    bottom: 22vw;
    left: -12vw;
}

.bluebox {
    width: 32.01388888889vw;
    border-radius: 51.57px;
    top: 32vw;
    left: -15vw;
    animation-delay: 0.5s;

}

.newbluebox {
    width: 32.01388888889vw;
    border-radius: 51.57px;
    top: 28vw;
    right: -15vw;
    animation-delay: 0.5s;
}

.toc {
    /* position: sticky;
  top: 100px; */
}

.toc ul {
    list-style: none;
    padding: 0;
}

.toc li {
    margin-bottom: 8px;
}

.toc li.active a {
    font-weight: bold;
    color: #0070f3;
}


.customStyle {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin-top: 10px;
    color: #000;
}

/* Links */
.customStyle a {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.38888888889vw;
    font-weight: 300;
    line-height: 147%;
    text-align: left;
    margin-bottom: 16px;
    text-decoration: underline;
}

/* Tables */
.customStyle table {
    margin: 0 auto 16px auto;
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
    text-align: center;
}

.customStyle th,
.customStyle td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

/* Images */
.customStyle img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
    object-fit: cover;
    margin-bottom: 16px;
}

/* Paragraphs */
.customStyle p {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.38888888889vw;
    font-weight: 300;
    line-height: 147%;
    text-align: left;
    margin-bottom: 16px;
}

/* Headings */
.customStyle h1,
.customStyle h2,
.customStyle h3,
.customStyle h4,
.customStyle h5,
.customStyle h6 {
    color: #000 !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.38888888889vw;
    font-weight: 700;
    line-height: 32.965px;
    text-align: left;
    margin-bottom: 16px;
}

/* Lists */
.customStyle ul,
.customStyle ol {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    margin-bottom: 16px;
    padding-left: 20px;
}

.customStyle li {
    margin-bottom: 5px;
    list-style-position: inside;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.customStyle li p {
    display: inline;
    margin: 0;
    padding: 0;
}

.customStyle ul {
    list-style: disc;
}

.tocitem {
    color: #000;
    text-align: right;
    font-family: Montserrat;
    font-size: 1.38888888889vw;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
    /* 125% */

    display: -webkit-box;
    /* needed for line-clamp */
    -webkit-box-orient: vertical;
    /* vertical orientation */
    -webkit-line-clamp: 2;
    /* max 2 lines */
    overflow: hidden;
    /* hide overflow text */
    text-overflow: ellipsis;
    /* show ellipsis (...) */
    word-break: break-word;
}

.activeToc a {
    font-weight: 700;
    /* bold */
    /* color: #000; optional */
}

.tocitem {
    margin: 44px 0px !important;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 3.61111111111vw;
    /* flex-direction: column; */
}

.dots {
    width: 0.97222222222vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: #27AAE7;
    flex-shrink: 0;
}

.timeline {
    width: 0.41666666667vw;
    /* aspect-ratio: 1/1; */
    /* border-radius: 50%; */
    background: #27AAE7;
    /* flex-shrink: 0; */
     height: 75%;
    position: absolute;
    right: 0.3vw;
    top: 10%;
}

.toc {
    position: relative;
    width:16.05555555556vw ;
}

.tags {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

.tag {
    border-radius: 18.636px;
    border: 1px solid;
    padding: 5px 16px;
    color: var(--accent-purple-110, #684C8A);
    text-align: justify;
    font-family: Montserrat;
    font-size: 1.04166666667vw;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 22.5px */
    letter-spacing: 0.15px;
    padding: 6px 13px;
}

.color1 {
    border-color: #6C7072;
    color: #404446;
}

.color2 {
    border-color: #27AAE7;
    color: #0091D5;
}

.color3 {
    border-color: #815FAA;
    color: #684C8A;
}

.color4 {
    border-color: #FB7D7D;
    color: #FF5656;
}

@keyframes dvdSmooth {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(30px, 20px);
    }

    50% {
        transform: translate(0, 40px);
    }

    75% {
        transform: translate(-30px, 20px);
    }

    100% {
        transform: translate(0, 0);
    }
}


@media (max-width:450px) {
    .container {
        padding: 99px 27px 0px 27px;
    }

    .subttx {
        display: none;
    }

    .backarrow {
        width: 7.566px;
        /* height: 4.074px; */

    }

    .toc {
        display: none;
    }

    .cont {
        width: 100%;
    }

    .backbt {
        font-size: 15.132px;
    }
    .cont{
        gap: 32px;
    }

    .tag {
        font-size: 15px;
    }

    .mobsubttx {
        color: var(--Blacks-Base, #0C0C0C);
        font-family: Montserrat;
        font-size: 10.124px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 15.186px */
        letter-spacing: 0.101px;
    }

    .title {
        font-size: 18.983px;
    }

    .titlesection {
        gap: 14px;
    }

    .thumbnail {
        width: 100%;
        aspect-ratio: 336/344;
        border-radius: 15px;
        overflow: hidden;
    }

    .otherarticles {
        background: none;
    }

    .featuretxt {
        padding: 56px 0px 0px 0px;
        font-size: 39.698px;
        text-align: center;
    }

    .stroke {
        width: 100%;
        height: 19.065px;
        position: relative;
        margin-top: 56px;
    }

    .carousel {
        padding: 0px 27px;
    }

    .newbluebox,
    .bluebox,
    .pinkbox,
    .newpinkbox {
        width: 227px;
        border-radius: 25.4px;
    }
    .box{
        padding: 0;
        gap: 14px;
    }
    .parent{
        padding-top: 56px;
    }

    .newpinkbox {
        bottom: 1038px;
        left: -30px;
    }

    .bluebox {
        top: 340px;
        left: -104px;

    }

    .customStyle {
        width: 100%;
    }

    .customStyle a {
        color: #000;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 147%;
        text-align: left;
        margin-bottom: 16px;
        text-decoration: underline;
    }

    .customStyle h1,
    .customStyle h2,
    .customStyle h3,
    .customStyle h4,
    .customStyle h5,
    .customStyle h6 {
        color: #000 !important;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 700;
        line-height: 32.965px;
        text-align: left;
        margin-bottom: 16px;
    }

    /* Paragraphs */
    .customStyle p {
        color: #000;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 147%;
        text-align: left;
        margin-bottom: 16px;
    }

    .customStyle table {
        max-height: 100%;
        overflow-x: auto;
    }

    .customStyle table {
        display: block;
        /* make table block so scroll works */
        width: 100%;
        /* keep table width 100% by default */
        overflow-x: auto;
        /* horizontal scroll */
        -webkit-overflow-scrolling: touch;
        /* smooth scroll on iOS */
        white-space: nowrap;
        /* prevent content from wrapping */
        border-collapse: collapse;
    }
}

@media (min-width:451px) {
    .mobsubttx {
        display: none;
    }

    .stroke {
        display: none;
    }
}