.container {
    background-image: url("/assets/images/backgroundcircles.png");
    /* path relative to public/ folder */
    background-size: cover;
    background-position: center;
    width: 100%;
    /* height: 100dvh; */
    /* or any height you want */
    background-color: white;
    position: relative;
    overflow: hidden;
 
}

.tiles {
    background-image: url("/assets/images/grid.png");
    /* path relative to public/ folder */
    background-size: cover;
    background-position: center;
    width: 100%;
    height:auto;
    /* or any height you want */
    /* background-color: red; */
 
    /* z-index: 0; */
    padding: 4rem 0; 
}

.imagecontianer,
.blueimagecontianer {
    width: 34.75694444444vw;
    aspect-ratio: 1/1;
    flex-shrink: 0;
    position: absolute;
   
}

.image {
    width: 100%;
    height: 100%;
    position: relative;
}

.imagecontianer {
     top: -18.88888888889vw;
    right: -8.47222222222vw;
}
.blueimagecontianer{
         top: -11.5vw;
    right: -19.09722222222vw;
}

@media (max-width:450px) {
    .container{
        background: none;
    }

}
@keyframes floatLeftUp {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-2vw, -2vw);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.imagecontianer,
.blueimagecontianer {
  animation: floatLeftUp 8s ease-in-out infinite;
}

.imagecontianer {
  animation-delay: 0s;
}

.blueimagecontianer {
  animation-delay: 4s;
}
