.btn {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: fit-content;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.bactct {
    color: #000;
    text-align: center;
    font-family: Montserrat;
 font-size: 7.023px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.186px;
}

.box {
    width: 19px;
    aspect-ratio: 1/1;
    position: relative;
}